<% title "Log in" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password, "Password" %><br />
    <%= password_field_tag :password %>
  </p>

<p><%= #link_to "Forgotten password?", new_password_reset_path %></p>
 
  <p><%= submit_tag "Log in" %></p>
<% end %>
