<% title "Taxon" %>

<p>
  <strong>Group:</strong>
  <%=h @taxon.group %>
</p>
<p>
  <strong>Scientific Name:</strong>
  <%=h @taxon.scientific_name %>
</p>
<p>
  <strong>Common Name:</strong>
  <%=h @taxon.common_name %>
</p>
<p>
  <strong>Watch List:</strong>
  <%=h @taxon.watch_list %>
</p>
<p>
  <strong>Image:</strong>
  <%=h @taxon.image %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @taxon.notes %>
</p>

<p>
  <%= link_to "Edit", edit_taxon_path(@taxon) %> |
  <%= link_to "Destroy", @taxon, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", taxons_path %>
</p>
