<h1>Sampling Event</h1>
<% form_for([:admin, @sampling]) do |f| %>

  <%= f.error_messages %>
<p>
    <label for="sampling_isverified">Verification Status:</label><br/>
    <%= f.select :isverified, [["pending"],["verified"],["rejected"]] %>
</p> 
  
  <div id="lake_field">
 <label for= "sampling_lake_id">Lake:</label><br/>
    <%= f.collection_select :lake_id, Lake.find(:all, :order => ['name, county']), :id, :lake_county, :prompt => "Select a lake" %>
 
  </div>
   
 <div id="site_field">
 <label for= "sampling_site_id">Site:</label><br/>
    <%= f.collection_select :site_id, Site.find(:all), :id, :name, :prompt => "Select a site" %>
  
   <%= link_to "Add New Site", new_admin_site_path %>

  </div>
  <div id="nosite">
    No sites found for this Lake.
 
   <%= link_to "Add New Site", new_admin_site_path %>
 </div>

 
 <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>

  <h2>Check the boxes for all sampling types completed on this date.</h2>

  <p>
    <%= f.label "Secchi-Transparency" %><br />
    <%= f.check_box :secchi %>
  </p>
  <p>
    <%= f.label "Temperature Profile" %><br />
    <%= f.check_box :temperature %>
  </p>
  <p>
    <%= f.label "Portland Substrate Sampler" %><br />
    <%= f.check_box :substrate %>
  </p>
  <p>
    <%= f.label "Minnow Trap" %><br />
    <%= f.check_box :trap %>
  </p>
  <p>
    <%= f.label "Rake Toss" %><br />
    <%= f.check_box :rake %>
  </p>
  <p>
    <%= f.label "Shoreline Observation" %><br />
    <%= f.check_box :zigzag %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p><%= f.submit %></p>
<% end %>

