<% title "Organism" %>

<p>
  <strong>Sampling:</strong>
  <%=h @organism.sampling_id %>
</p>
<p>
  <strong>Sampling Type:</strong>
  <%=h @organism.sampling_type %>
</p>
<p>
  <strong>Taxon:</strong>
  <%=h @organism.taxon_id %>
</p>
<p>
  <strong>Count:</strong>
  <%=h @organism.count %>
</p>
<p>
  <strong>Size:</strong>
  <%=h @organism.size %>
</p>
<p>
  <strong>Image:</strong>
  <%=h @organism.image %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @organism.notes %>
</p>

