<h1>Organism Observations</h1>

<table>
  <tr>
    <th>Sampling</th>
    <th>Sampling Type</th>
    <th>Taxon</th>
    <th>Abundance Code</th>
    <th>Images</th>
    <th>Notes</th>
  </tr>
  <% for organism in @organisms %>
    <tr>
      <td><%= link_to h(organism.sampling.site.lake.name), organism.sampling.site.lake %><br/><%= link_to h(organism.sampling.site.name), organism.sampling.site %><br/><%=link_to h(organism.sampling.date), organism.sampling %><br/></td>
      <td><%=h organism.sampling_type %></td>
      <td><%= link_to (organism.taxon.common_name + "<br/>(<i>" + organism.taxon.scientific_name + "</i>)"), organism.taxon %></td>
      <td><%=h organism.count %></td>
      <td><%= image_tag organism.image.url, :size => "40x40" %><%= image_tag organism.image2.url, :size => "40x40" %><%= image_tag organism.image3.url, :size => "40x40" %></td>
      <td><%=h organism.notes %></td>
      <td><%= link_to "Show", organism %></td>

      <% if organism.user_id == current_user.id %>
      <td><%= link_to "Edit", edit_organism_path(organism) %></td>
      <td><%= link_to "Destroy", organism, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

