<% title "Organism" %>

<p>
  <strong>Sampling:</strong>
  <%=h @organism.sampling_id %>
</p>
<p>
  <strong>Sampling Type:</strong>
  <%=h @organism.sampling_type %>
</p>
<p>
  <strong>Taxon:</strong>
  <%=h @organism.taxon_id %>
</p>
<p>
  <strong>Count:</strong>
  <%=h @organism.count %>
</p>
<p>
  <strong>Size:</strong>
  <%=h @organism.size %>
</p>

<% unless @organism.image_file_name.nil? %>
<p>
  <strong>Image 1:</strong>
  <%= image_tag @organism.image.url, :width => '400' %>
</p>
<% end %>
<% unless @organism.image2_file_name.nil? %>
<p>
  <strong>Image 2:</strong>
  <%= image_tag @organism.image2.url, :width => '400'%>
</p>
<% end %>
<% unless @organism.image3_file_name.nil? %>
<p>
  <strong>Image 3:</strong>
  <%= image_tag @organism.image3.url, :width => '400' %>
</p>
<% end %>
<p>
  <strong>Notes:</strong>
  <%=h @organism.notes %>
</p>

<p>
  <%= link_to "Edit", edit_organism_path(@organism) %> |
  <%= link_to "Destroy", @organism, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", @organism.sampling %>
</p>
