<table id="main_table" border="0" cellpadding="0" cellspacing="0" class="pretty">
<thead>
  <tr>
    <th>Sampling Type</th>
    <th>Depth (m)</th>
    <th>Temperature (C)</th>
    <th>Notes</th>
  </tr>
</thead>
<tbody>
  <% for physical_datum in @physical_data %>
    <tr>
      <td><%=h physical_datum.sampling_type %></td>
      <td><%=h physical_datum.depth %></td>
      <td><%=h physical_datum.value %></td>
      <td><%=h physical_datum.notes %></td>
      <% if logged_in? && physical_datum.user_id == current_user.id %>
      <td><%= link_to "Edit", edit_physical_datum_path(physical_datum) %></td>
      <td><%= link_to "Delete", physical_datum, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>

