<% title "Sign up" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>


   <p id="lake_field">
    <label for="lake1">Lake 1</label><br />
    <%= f.collection_select :lake1, Lake.find(:all, :order => :name), :id, :lake_county, :prompt => "Select a lake" %>
  </p>
      
  <p id="lake_county_field">
    <label for="lake2">Lake 2</label><br />
    <%= f.collection_select :lake2, Lake.find(:all, :order => :name), :id, :lake_county, :prompt => "Select a lake" %>
  </p>

 
  <p id="lake_county_field">
    <label for="lake3">Lake 3</label><br />
    <%= f.collection_select :lake3, Lake.find(:all, :order => :name), :id, :lake_county, :prompt => "Select a lake" %>
  </p>

 
  <p id="lake_county_field">
    <label for="lake4">Lake 4</label><br />
    <%= f.collection_select :lake4, Lake.find(:all, :order => :name), :id, :lake_county, :prompt => "Select a lake" %>
  </p>

 
  <p id="lake_county_field">
    <label for="lake5">Lake 5</label><br />
    <%= f.collection_select :lake5, Lake.find(:all, :order => :name), :id, :lake_county, :prompt => "Select a lake" %>
  </p>


  <p><%= f.submit "Sign up" %></p>
<% end %>
