<% form_for @sampling_type do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p><%= f.submit %></p>
<% end %>
