<% title "Lake" %>

<p>
  <strong>Name:</strong>
  <%=h @lake.name %>
</p>
<p>
  <strong>County:</strong>
  <%=h @lake.county %>
</p>
<p>
  <strong>Reach Code:</strong>
  <%=h @lake.reachcode %>
</p>
<p>
  <strong>AOL Page:</strong>
  <%=h @lake.aol_page %>
</p>
<p>
  <strong>Latitude:</strong>
  <%=h @lake.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%=h @lake.longitude %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @lake.notes %>
</p>

<% sitecount = @lake.sites.count %>
<% if sitecount > 0 %>
<p>
<strong>Sites:</strong><br/>
   <% for site in @lake.sites %>
      <%= link_to h(site.name), site %><br/>
   <% end %>
<% end %>
</p>

<p>
<%= link_to "Add Site", new_lake_site_path(:lake_id => @lake.id) %>
</p>

<p>
  <%= link_to "Edit", edit_lake_path(@lake) %> |
  <%= link_to "Destroy", @lake, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lakes_path %>
</p>
