
<% javascript 'lakes_table' %>
<h1>Monitoring Events</h1>
<table id="main_table" border="0" cellpadding="0" cellspacing="0" class="pretty">
<thead>
  <tr>
    <th>User</th>
    <th>Lake</th>
    <th>Site</th>
    <th>Date</th>
    <th>Secchi</th>
    <th>Temp.</th>
    <th>Substr.</th>
    <th>Trap</th>
    <th>Rake</th>
    <th>Shoreline</th>
    <th>Notes</th>
  </tr>
</thead>
<tbody>
<% if logged_in? %>
  <% for sampling in @mysamplings %>
    <tr>
      <td><%=h sampling.user.username %></td>
      <td><%=link_to h(sampling.lake.lake_county), sampling.lake %></td>
      <td><%=link_to h(sampling.site.name), sampling.site %></td>
      <td><%=h sampling.date %></td>
      <td><%= check_box_tag 'sampling', 'secchi', sampling.secchi, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'temperature', sampling.temperature, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'substrate', sampling.substrate, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'trap', sampling.trap, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'rake', sampling.rake, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'zigzag', sampling.zigzag, :disabled => TRUE %></td>
      <td><%=h sampling.notes %></td>
      <td><%= link_to "Show", sampling %></td>
      <% if logged_in? && sampling.user_id == current_user.id %>
         <td><%= link_to "Edit", edit_sampling_path(sampling) %></td>
         <td><%= link_to "Delete", sampling, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  <% for sampling in @othersamplings %>
    <tr>
      <td><%=h sampling.user.username %></td>
      <td><%=link_to h(sampling.lake.lake_county), sampling.lake %></td>
      <td><%=link_to h(sampling.site.name), sampling.site %></td>
      <td><%=h sampling.date %></td>
      <td><%= check_box_tag 'sampling', 'secchi', sampling.secchi, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'temperature', sampling.temperature, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'substrate', sampling.substrate, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'trap', sampling.trap, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'rake', sampling.rake, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'zigzag', sampling.zigzag, :disabled => TRUE %></td>
      <td><%=h sampling.notes %></td>
      <td><%= link_to "Show", sampling %></td>
    </tr>
  <% end %>
<% else %>
  <% for sampling in @samplings %>
    <tr>
      <td><%=h sampling.user.username %></td>
      <td><%=link_to h(sampling.lake.lake_county), sampling.lake %></td>
      <td><%=link_to h(sampling.site.name), sampling.site %></td>
      <td><%=h sampling.date %></td>
      <td><%= check_box_tag 'sampling', 'secchi', sampling.secchi, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'temperature', sampling.temperature, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'substrate', sampling.substrate, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'trap', sampling.trap, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'rake', sampling.rake, :disabled => TRUE %></td>
      <td><%= check_box_tag 'sampling', 'zigzag', sampling.zigzag, :disabled => TRUE %></td>
      <td><%=h sampling.notes %></td>
      <td><%= link_to "Show", sampling %></td>
    </tr>
  <% end %>



<% end %>
</tbody>
</table>
<% if logged_in? %>
<p><%= link_to "New Sampling", new_sampling_path %></p>
<% end %>
