    <script type="text/javascript">
        function toggleVisibility(controlId)
        {
            var control = document.getElementById(controlId);
            if(control.style.visibility == "visible" || control.style.visibility == "")
                control.style.visibility = "hidden";
            else 
                control.style.visibility = "visible";
              
        }
    </script>
<% title "Sampling Event" %>
<p>
  <strong>User:</strong>

  <%=h User.find(@sampling.user_id).email %>
</p>
  <strong>Lake:</strong> <%= link_to h(@lake.lake_county), @lake %> |  <strong>Site:</strong><%= link_to h(@site.name), @site %>
</p>
<p>
  <strong>Date:</strong>
  <%=h @sampling.date %>
</p>
<strong>Sampling Methods Used:</strong>
<p>
<% sampling_methods = Array.new %>
<% if @sampling.secchi %>
  Secchi-Transparency<br/>
<% end %>
<% if @sampling.temperature %>
  Temperature Profile<br/>
<% end %>
<% if @sampling.substrate %>
  Portland Substrate Sampler<br/>
<% sampling_methods.push('Substrate') %>
<% end %>
<% if @sampling.trap %>
  Minnow Trap<br/>
<% sampling_methods.push('Trap') %>
<% end %>
<% if @sampling.rake %>
  Rake Toss<br/>
<% sampling_methods.push('Rake') %>
<% end %>
<% if @sampling.zigzag %>
  Shoreline Observation<br/>
<% sampling_methods.push('Zig Zag') %>
<% end %>
</p>
<p>
  <strong>Notes:</strong>
  <%=h @sampling.notes %>
</p>
<br/>
<br/>
<p>

      <% if logged_in? && @sampling.user_id == current_user.id %>
  <%= link_to "Edit", edit_sampling_path(@sampling) %>&nbsp; 
  <%= link_to "Delete", @sampling, :confirm => 'Are you sure?', :method => :delete %>&nbsp;
    <% end %>
  <%= link_to "List", samplings_path %>
</p>

<% if @sampling.temperature == TRUE %>
   <hr>
   <h2>Water Quality Data (Temperature)</h2>
   <% unless @sampling.physical_data.empty?  %>
<% sorted_physical_data = @physical_data.sort_by &:depth %>
<% chart_data5 = sorted_physical_data.map {|i| [i.value, i.depth*-1]} %>
<% visualization "chart_id5", "ScatterChart", :title => "Temperature Depth Profile", :legend => 'none', :vAxis => '{title: ''hello''}',  :width => 400, :height => 400, :html => {:class => "graph_chart" } do |chart| %>
<% chart.number "" %>
<% chart.number "Temperature (C)" %>
<% chart.add_rows(chart_data5) %>
   <% end %>

      <%= render :partial => 'physical_data/index' %>

   <%end%>
   <% if logged_in? && @sampling.user_id == current_user.id %>
       <p><input type="button" id="btnShowHide" value="Show/Hide Data Entry Form" onclick="toggleVisibility('physical_data_form');" /></p>
       <div id='physical_data_form' style="visibility: hidden">
       <%= render :partial => 'physical_data/form' %>
       </div>
   <% end %>
<% end %>


<% if @sampling.secchi == TRUE %>
   <hr>
   <h2>Water Quality Data (Secchi Transparency)</h2>
   <% unless @sampling.secchi_data.empty?  %>
      <%= render :partial => 'secchi_data/index' %>
   <%end%>
   <% if logged_in? && @sampling.user_id == current_user.id %>
       <p><input type="button" id="btnShowHide" value="Show/Hide Data Entry Form" onclick="toggleVisibility('secchi_data_form');" /></p>
       <div id='secchi_data_form' style="visibility: hidden">
       <%= render :partial => 'secchi_data/form' %>
       </div>
   <% end %>
<% end %>




<% if (@sampling.trap == TRUE or @sampling.substrate == TRUE or @sampling.rake == TRUE or @sampling.zigzag == TRUE) %>
   <hr>
   <h2>Aquatic Invasive Species (Plants & Animals)</h2>
   <% unless @sampling.organisms.empty?  %>
        <%= render :partial => 'organisms/index' %>
   <%end%>
   <% if logged_in? && @sampling.user_id == current_user.id %>
        <p><input type="button" id="btnShowHide" value="Show/Hide Data Entry Form" onclick="toggleVisibility('organism_form');" /></p>
        <div id='organism_form' style="visibility: hidden">
        <%= render :partial => 'organisms/form' %>
        </div>
   <% end %>
<% end %>


