<div id="navcontainer">
     <ul id="navigation">
        <li><%= link_to "Home", :controller => "/" %></li>
<% if logged_in? %>
        <li><%= link_to "My Profile", :controller => "/users/#{current_user.id}" %></li>
<% end %>
<% if logged_in? && current_user.approved == TRUE %>
        <li><%= link_to "My Data", :controller => "/mydata" %></li>
        <li><%= link_to "Add Data", :controller => "/samplings", :action => "new" %></li>
<% end %>
        <li><%= link_to "View All Data", :controller => "/sites" %> 
           <ul>
              <li><%= link_to "Lakes", :controller => "/lakes" %></li>
              <li><%= link_to "Taxa", :controller => "/taxa" %></li>
              <li><%= link_to "Sites", :controller => "/sites" %></li>
              <li><%= link_to "Monitoring Events", :controller => "/samplings" %></li>

      </ul>
<% if logged_in? && current_user.admin == TRUE %>
<li><%= link_to "Admin All Data", :controller => "/admin/samplings" %> 
           <ul>
              <li><%= link_to "Users", :controller => "/admin/users" %></li>
              <li><%= link_to "Lakes", :controller => "/admin/lakes" %></li>
              <li><%= link_to "Taxa", :controller => "/admin/taxa" %></li>
              <li><%= link_to "Sites", :controller => "/admin/sites" %></li>
              <li><%= link_to "All Monitoring Events", :controller => "/admin/samplings" %></li>
              <li><%= link_to "Pending Monitoring Events", :controller => "/admin/pending" %></li>
 
           </ul>
        </li>
<% end %>
</div>
 
